In [1]:
import pandas as pd
import numpy as np
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time

# 1

In [2]:
driver=webdriver.Chrome("chromedriver.exe")

In [3]:
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/"
driver.get(url)
user_inp=input("Enter the product you want to search:")

Enter the product you want to search:most viewed videos on YouTube

In [4]:
search_bar=driver.find_element_by_id("searchInput")
search_bar.clear()
search_bar.send_keys(user_inp)
time.sleep(3)
search_btn=driver.find_element_by_id("searchButton")
search_btn.click()

In [5]:
Rank=[]
Name=[]
Artist=[]
Upload_Date=[]
Views=[]

In [6]:
try:

    info=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")

    for i in info:
        Rank.append(i.text)

except NoSuchElementException:           #handling no such element exception

    Rank.append('No details available')

time.sleep(2)
Rank[:10]

['1.', '2.', '3.', '4.', '5.', '6.', '7.', '8.', '9.', '10.']

In [7]:

try:

    info=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td/a")

    for i in info:
        Name.append(i.text)

except NoSuchElementException:           #handling no such element exception

    Name.append('No details available')

time.sleep(2)
Name[:10]

['Baby Shark Dance',
 "Pinkfong Kids' Songs & Stories",
 'Despacito',
 'Luis Fonsi',
 'Johny Johny Yes Papa',
 'Shape of You',
 'Ed Sheeran',
 'See You Again',
 'Wiz Khalifa',
 'Uptown Funk']

In [8]:
try:

    info=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]")

    for i in info:
        Artist.append(i.text)

except NoSuchElementException:           #handling no such element exception

    Artist.append('No details available')

time.sleep(2)
Artist[:10]

["Pinkfong Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Get Movies',
 'Mark Ronson',
 'Miroshka TV',
 'Cocomelon – Nursery Rhymes',
 'Psy']

In [9]:
for i in driver.find_elements_by_xpath("//td[@align= 'right']"):
    Upload_Date.append(i.text)
Upload_Date[:10]

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'January 30, 2017',
 'April 6, 2015',
 'January 31, 2012',
 'November 19, 2014',
 'February 27, 2018',
 'May 2, 2018',
 'July 15, 2012']

In [10]:
try:

    info=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")

    for i in info:
        Views.append(i.text)

except NoSuchElementException:           #handling no such element exception

    Views.append('No details available')

time.sleep(2)
Views[:10]

['8.74',
 '7.39',
 '5.43',
 '5.34',
 '5.13',
 '4.44',
 '4.20',
 '4.14',
 '4.12',
 '4.08']

In [11]:
print(len(Rank),len(Name),len(Artist),len(Upload_Date),len(Views))

30 84 49 87 49

In [12]:
Youtube=pd.DataFrame({})
Youtube["Rank"]=Rank[:30]
Youtube["Name"]=Name[:30]
Youtube["Artist"]=Artist[:30]
Youtube["Upload_Date"]=Upload_Date[:30]
Youtube["Views"]=Views[:30]
Youtube[:30]

,Rank,Name,Artist,Upload_Date,Views
0,1.,Baby Shark Dance,Pinkfong Kids' Songs & Stories,"June 17, 2016",8.74
1,2.,Pinkfong Kids' Songs & Stories,Luis Fonsi,"January 12, 2017",7.39
2,3.,Despacito,LooLoo Kids,"October 8, 2016",5.43
3,4.,Luis Fonsi,Ed Sheeran,"January 30, 2017",5.34
4,5.,Johny Johny Yes Papa,Wiz Khalifa,"April 6, 2015",5.13
5,6.,Shape of You,Get Movies,"January 31, 2012",4.44
6,7.,Ed Sheeran,Mark Ronson,"November 19, 2014",4.20
7,8.,See You Again,Miroshka TV,"February 27, 2018",4.14
8,9.,Wiz Khalifa,Cocomelon – Nursery Rhymes,"May 2, 2018",4.12
9,10.,Uptown Funk,Psy,"July 15, 2012",4.08
10,11.,Mark Ronson,ChuChu TV,"March 6, 2014",3.91
11,12.,Cocomelon – Nursery Rhymes,Maroon 5,"January 14, 2015",3.48
12,13.,Gangnam Style,Justin Bieber,"October 22, 2015",3.44
13,14.,Psy,El Chombo,"April 5, 2018",3.38
14,15.,ChuChu TV,Katy Perry,"September 5, 2013",3.36
15,16.,Sugar,OneRepublic,"May 31, 2013",3.31
16,17.,Maroon 5,Ed Sheeran,"October 7, 2014",3.27
17,18.,Sorry,Katy Perry,"February 20, 2014",3.08
18,19.,Justin Bieber,Alan Walker,"December 3, 2015",3.08
19,20.,Dame Tu Cosita,Cocomelon – Nursery Rhymes,"May 24, 2018",3.07
20,21.,El Chombo,Taylor Swift,"August 18, 2014",3.06
21,22.,Roar,Major Lazer,"March 22, 2015",3.05
22,23.,Katy Perry,Maroon 5,"May 31, 2018",3.04
23,24.,Counting Stars,Enrique Iglesias,"April 11, 2014",3.04
24,25.,OneRepublic,Passenger,"July 25, 2012",3.00
25,26.,Thinking Out Loud,J Balvin,"June 29, 2017",2.93
26,27.,Ed Sheeran,Ed Sheeran,"November 9, 2017",2.86
27,28.,Dark Horse,Adele,"October 22, 2015",2.84
28,29.,Katy Perry,Shakira,"June 4, 2010",2.84
29,30.,Faded,Crazy Frog,"June 16, 2009",2.83

# 2

In [13]:
driver=webdriver.Chrome("chromedriver.exe")

In [14]:
url="https://www.bcci.tv/"
driver.get(url)

In [16]:
search_btn=driver.find_element_by_xpath("//button[@class= 'navigation__header-button menu-button js-navigation-menu-button']")
search_btn.click()

In [17]:
search_plus=driver.find_element_by_xpath("//div[@class= 'navigation__expand']")
search_plus.click()

In [18]:
search_fixtures=driver.find_element_by_xpath("//a[@class= 'navigation__link navigation__link--in-drop-down']")
search_fixtures.click()

In [19]:
Match_title=[]
Series=[]
Place=[]
Date=[]

In [20]:
for i in driver.find_elements_by_xpath("//span[@class= 'u-unskewed-text fixture__format']"):
    Match_title.append(i.text)
Match_title

['TEST', 'TEST', 'TEST', 'TEST', 'TEST', 'TEST']

In [21]:
for i in driver.find_elements_by_xpath("//span[@class= 'u-unskewed-text fixture__tournament-label u-truncated']"):
    Series.append(i.text)
Series

['ICC WORLD TEST CHAMPIONSHIP',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021',
 'ENGLAND V INDIA 2021']

In [22]:
for i in driver.find_elements_by_xpath("//p[@class= 'fixture__additional-info']"):
    Place.append(i.text)
Place

['Final The Ageas Bowl, Southampton',
 '1st Test Trent Bridge, Nottingham',
 "2nd Test Lord's, London",
 '3rd Test Headingley, Leeds',
 '4th Test The Oval, London',
 '5th Test Old Trafford, Manchester']

In [23]:
for i in driver.find_elements_by_xpath("//span[@class= 'fixture__datetime tablet-only']"):
    Date.append(i.text)
Date

['Friday 18 June 15:00 IST',
 'Wednesday 4 August 15:30 IST',
 'Thursday 12 August 15:30 IST',
 'Wednesday 25 August 15:30 IST',
 'Thursday 2 September 15:30 IST',
 'Friday 10 September 15:30 IST']

In [24]:
print(len(Match_title),len(Series),len(Place),len(Date))

6 6 6 6

In [25]:
Match=pd.DataFrame({})
Match["Match_title"]=Match_title
Match["Series"]=Series
Match["Place"]=Place
Match["Date"]=Date
Match

,Match_title,Series,Place,Date
0,TEST,ICC WORLD TEST CHAMPIONSHIP,"Final The Ageas Bowl, Southampton",Friday 18 June 15:00 IST
1,TEST,ENGLAND V INDIA 2021,"1st Test Trent Bridge, Nottingham",Wednesday 4 August 15:30 IST
2,TEST,ENGLAND V INDIA 2021,"2nd Test Lord's, London",Thursday 12 August 15:30 IST
3,TEST,ENGLAND V INDIA 2021,"3rd Test Headingley, Leeds",Wednesday 25 August 15:30 IST
4,TEST,ENGLAND V INDIA 2021,"4th Test The Oval, London",Thursday 2 September 15:30 IST
5,TEST,ENGLAND V INDIA 2021,"5th Test Old Trafford, Manchester",Friday 10 September 15:30 IST

# 3

In [26]:
driver=webdriver.Chrome("chromedriver.exe")

In [27]:
url="https://www.guru99.com/"
driver.get(url)

In [28]:
search_selenium=driver.find_element_by_xpath("//html/body/div[2]/section[4]/div/div/div/div/div/div/div/div[1]/div/ul[1]/li[3]/a")
search_selenium.click()

In [29]:
search_selenium=driver.find_element_by_xpath("/html/body/div[2]/section[3]/div/div[1]/main/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a")
search_selenium.click()

In [30]:
Name=[]
Description=[]

In [31]:
name= driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
for i in name:
    Name.append(i.text)
Name[:10]

['Exception name',
 'ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException',
 'NoSuchFrameException',
 'NoAlertPresentException',
 'NoSuchWindowException',
 'StaleElementReferenceException',
 'SessionNotFoundException',
 'TimeoutException']

In [32]:
description = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
for i in description:
    Description.append(i.text)
Description[:10]

['Description',
 'This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 "Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time."]

In [33]:
print(len(Name),len(Description))

42 42

In [34]:
Selenium=pd.DataFrame({})
Selenium["Name"]=Name
Selenium["Description"]=Description
Selenium

,Name,Description
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# 4

In [35]:
driver=webdriver.Chrome("chromedriver.exe")

In [36]:
url="http://statisticstimes.com/"
driver.get(url)

In [37]:
search_economy=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/button")
search_economy.click()
time.sleep(3)

In [38]:
search_india=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
search_india.click()

In [40]:
search_state_wise=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
search_state_wise.click()

In [41]:
Rank=[]
State=[]
GSDP_FY_19_20=[]
GSDP_FY_18_19=[]
Share_FY_18_19=[]
GDP_billion_dollars=[]

In [42]:
for i in driver.find_elements_by_xpath("//td[@class= 'data1']"):
    Rank.append(i.text)
Rank[:10]

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [43]:
for i in driver.find_elements_by_xpath("//td[@class= 'name']"):
    State.append(i.text)
State[:10]

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh']

In [44]:
#//div[@id="table_id"]/tbody/tr[1]/td[3]
#scraping GSDP(19-20)
try:

    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")

    for i in info:

        GSDP_FY_19_20.append(i.text)

except NoSuchElementException:           #handling no such element exception

    GSDP_FY_19_20.append('No details available')

time.sleep(2)

In [45]:
GSDP_FY_19_20[:10]

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672']

In [46]:
for i in driver.find_elements_by_xpath("//td[@class= 'data sorting_1']"):
    GSDP_FY_18_19.append(i.text)
GSDP_FY_18_19[:10]

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592']

In [47]:
try:

    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")

    for i in info:

        Share_FY_18_19.append(i.text)

except NoSuchElementException:           #handling no such element exception

    Share_FY_18_19.append('No details available')

time.sleep(2)

In [48]:
Share_FY_18_19[:10]

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%']

In [49]:
try:
    
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")

    for i in info:

        GDP_billion_dollars.append(i.text)

except NoSuchElementException:           #handling no such element exception

    GDP_billion_dollars.append('No details available')

time.sleep(2)

In [50]:
GDP_billion_dollars[:10]

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977']

In [51]:
print(len(Rank),len(State),len(GSDP_FY_19_20),len(GSDP_FY_18_19),len(Share_FY_18_19),len(GDP_billion_dollars))

68 68 33 66 33 33

In [52]:
GDP=pd.DataFrame({})
GDP["Rank"]=Rank[:33]
GDP["State"]=State[:33]
GDP["GSDP_FY_19_20"]=GSDP_FY_19_20[:33]
GDP["GSDP_FY_18_19"]=GSDP_FY_18_19[:33]
GDP["Share_FY_18_19"]=GSDP_FY_19_20[:33]
GDP["GDP_billion_dollars"]=GSDP_FY_18_19[:33]
GDP[:33]

,Rank,State,GSDP_FY_19_20,GSDP_FY_18_19,Share_FY_18_19,GDP_billion_dollars
0,1,Maharashtra,-,"2,632,792",-,"2,632,792"
1,2,Tamil Nadu,"1,845,853","1,630,208","1,845,853","1,630,208"
2,3,Uttar Pradesh,"1,687,818","1,584,764","1,687,818","1,584,764"
3,4,Gujarat,-,"1,502,899",-,"1,502,899"
4,5,Karnataka,"1,631,977","1,493,127","1,631,977","1,493,127"
5,6,West Bengal,"1,253,832","1,089,898","1,253,832","1,089,898"
6,7,Rajasthan,"1,020,989","942,586","1,020,989","942,586"
7,8,Andhra Pradesh,"972,782","862,957","972,782","862,957"
8,9,Telangana,"969,604","861,031","969,604","861,031"
9,10,Madhya Pradesh,"906,672","809,592","906,672","809,592"
10,11,Kerala,-,"781,653",-,"781,653"
11,12,Delhi,"856,112","774,870","856,112","774,870"
12,13,Haryana,"831,610","734,163","831,610","734,163"
13,14,Bihar,"611,804","530,363","611,804","530,363"
14,15,Punjab,"574,760","526,376","574,760","526,376"
15,16,Odisha,"521,275","487,805","521,275","487,805"
16,17,Assam,-,"315,881",-,"315,881"
17,18,Chhattisgarh,"329,180","304,063","329,180","304,063"
18,19,Jharkhand,"328,598","297,204","328,598","297,204"
19,20,Uttarakhand,-,"245,895",-,"245,895"
20,21,Jammu & Kashmir,-,"155,956",-,"155,956"
21,22,Himachal Pradesh,"165,472","153,845","165,472","153,845"
22,23,Goa,"80,449","73,170","80,449","73,170"
23,24,Tripura,"55,984","49,845","55,984","49,845"
24,25,Chandigarh,-,"42,114",-,"42,114"
25,26,Puducherry,"38,253","34,433","38,253","34,433"
26,27,Meghalaya,"36,572","33,481","36,572","33,481"
27,28,Sikkim,"32,496","28,723","32,496","28,723"
28,29,Manipur,"31,790","27,870","31,790","27,870"
29,30,Nagaland,-,"27,283",-,"27,283"
30,31,Arunachal Pradesh,-,"24,603",-,"24,603"
31,32,Mizoram,"26,503","22,287","26,503","22,287"
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5

In [53]:
driver=webdriver.Chrome("chromedriver.exe")

In [54]:
url="https://github.com/"
driver.get(url)

In [57]:
search_btn=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/button")
search_btn.click()
time.sleep(3)

In [58]:
search_arrow=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details")
search_arrow.click()
time.sleep(3)

In [59]:
search_trending=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
search_trending.click()
time.sleep(3)

In [60]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [61]:
for i in driver.find_elements_by_xpath("//h1[@class= 'h3 lh-condensed']"):
    Repository_title.append(i.text)
Repository_title

['madMAx43v3r / chia-plotter',
 'peng-zhihui / XUAN-Bike',
 'kingoflolz / mesh-transformer-jax',
 'jwasham / coding-interview-university',
 'microsoft / playwright',
 'zzanehip / The-OldOS-Project',
 'TuSimple / naive-ui',
 'drawrowfly / tiktok-scraper',
 'reactwg / react-18',
 'chinnkarahoi / jd_scripts',
 'lan-tianxiang / jd_shell',
 'spring-projects / spring-boot',
 'Charmve / computer-vision-in-action',
 'google / googletest',
 'maaslalani / slides',
 'actions / virtual-environments',
 'lan-tianxiang / JS_TOOL',
 'whyour / qinglong',
 'mechaniac / Map-of-Javascript',
 'GuoxianSong / AgileGAN',
 'goldbergyoni / nodebestpractices',
 'hasura / graphql-engine',
 'actions / starter-workflows',
 'datastaxdevs / workshop-graphql-netflix',
 'PaperMC / Paper']

In [62]:
for i in driver.find_elements_by_xpath("//p[@class= 'col-9 color-text-secondary my-1 pr-4']"):
    Repository_description.append(i.text)
Repository_description

['Model parallel transformers in JAX and Haiku',
 'A complete computer science study plan to become a software engineer.',
 'Node.js library to automate Chromium, Firefox and WebKit with a single API',
 'Recreating a fully functional version of iOS 4 in SwiftUI.',
 'A Vue 3 Component Library. Fairly Complete. Customizable Themes. Uses TypeScript. Not too Slow.',
 'TikTok Scraper. Download video posts, collect user/trend/hashtag/music feed metadata, sign URL and etc.',
 'Workgroup for React 18 release.',
 'lxk0301/jd_scripts备份。不要star。不要fork。谢谢配合。',
 'Node网页开发工具',
 'Spring Boot',
 '《计算机视觉实战演练：算法与应用》中文电子书、源码、读者交流社区（更新中，可以先 star）',
 'GoogleTest - Google Testing and Mocking Framework',
 'Terminal based presentation tool',
 'GitHub Actions virtual environments',
 'Node网页开发工具',
 'Ant Design、Ant Design Pro 与 Umijs3.0 项目and暗黑主题实践（Crontab定时运行Python和JavaScript的Dashboard）',
 'Javascript on one sheet. (and one for algorithms)',
 'Official repo for paper "AgileGAN: Stylizing Portraits by Inversion-Consistent Transfer Learning"',
 '✅ The Node.js best practices list (June 2021)',
 'Blazing fast, instant realtime GraphQL APIs on your DB with fine grained access control, also trigger webhooks on database events.',
 'Accelerating new GitHub Actions workflows',
 'Workshop to illustrate how to use GraphQL',
 'High performance Spigot fork that aims to fix gameplay and mechanics inconsistencies']

In [63]:
for i in driver.find_elements_by_xpath("//a[@class= 'Link--muted d-inline-block mr-3']"):
    Contributors_count.append(i.text)
Contributors_count

['1,198',
 '370',
 '2,164',
 '240',
 '415',
 '37',
 '177,567',
 '48,249',
 '24,897',
 '1,012',
 '1,637',
 '103',
 '3,278',
 '216',
 '1,615',
 '324',
 '1,627',
 '9',
 '30',
 '24',
 '994',
 '406',
 '55,649',
 '33,837',
 '743',
 '87',
 '22,704',
 '7,577',
 '2,180',
 '44',
 '3,255',
 '1,199',
 '806',
 '266',
 '886',
 '399',
 '898',
 '64',
 '176',
 '6',
 '67,112',
 '6,663',
 '22,460',
 '1,891',
 '4,424',
 '3,210',
 '215',
 '90',
 '3,640',
 '992']

In [64]:
for i in driver.find_elements_by_xpath("//span[@class= 'd-inline-block ml-0 mr-3']"):
    Language_used.append(i.text)
Language_used

['C',
 'Jupyter Notebook',
 'TypeScript',
 'Swift',
 'TypeScript',
 'TypeScript',
 'JavaScript',
 'JavaScript',
 'Java',
 'Jupyter Notebook',
 'C++',
 'Go',
 'PowerShell',
 'Shell',
 'TypeScript',
 'JavaScript',
 'JavaScript',
 'Haskell',
 'TypeScript',
 'JavaScript',
 'Shell']

In [65]:
print(len(Repository_title),len(Repository_description),len(Contributors_count),len(Language_used))

25 23 50 21

In [66]:
Github=pd.DataFrame({})
Github["Repository_title"]=Repository_title[:19]
Github["Repository_description"]=Repository_description[:19]
Github["Contributors_count"]=Contributors_count[:19]
Github["Language_used"]=Language_used[:19]
Github[:19]

,Repository_title,Repository_description,Contributors_count,Language_used
0,madMAx43v3r / chia-plotter,Model parallel transformers in JAX and Haiku,"1,198",C
1,peng-zhihui / XUAN-Bike,A complete computer science study plan to beco...,370,Jupyter Notebook
2,kingoflolz / mesh-transformer-jax,"Node.js library to automate Chromium, Firefox ...","2,164",TypeScript
3,jwasham / coding-interview-university,Recreating a fully functional version of iOS 4...,240,Swift
4,microsoft / playwright,A Vue 3 Component Library. Fairly Complete. Cu...,415,TypeScript
5,zzanehip / The-OldOS-Project,"TikTok Scraper. Download video posts, collect ...",37,TypeScript
6,TuSimple / naive-ui,Workgroup for React 18 release.,"177,567",JavaScript
7,drawrowfly / tiktok-scraper,lxk0301/jd_scripts备份。不要star。不要fork。谢谢配合。,"48,249",JavaScript
8,reactwg / react-18,Node网页开发工具,"24,897",Java
9,chinnkarahoi / jd_scripts,Spring Boot,"1,012",Jupyter Notebook
10,lan-tianxiang / jd_shell,《计算机视觉实战演练：算法与应用》中文电子书、源码、读者交流社区（更新中，可以先 star）,"1,637",C++
11,spring-projects / spring-boot,GoogleTest - Google Testing and Mocking Framework,103,Go
12,Charmve / computer-vision-in-action,Terminal based presentation tool,"3,278",PowerShell
13,google / googletest,GitHub Actions virtual environments,216,Shell
14,maaslalani / slides,Node网页开发工具,"1,615",TypeScript
15,actions / virtual-environments,Ant Design、Ant Design Pro 与 Umijs3.0 项目and暗黑主题...,324,JavaScript
16,lan-tianxiang / JS_TOOL,Javascript on one sheet. (and one for algorithms),"1,627",JavaScript
17,whyour / qinglong,"Official repo for paper ""AgileGAN: Stylizing P...",9,Haskell
18,mechaniac / Map-of-Javascript,✅ The Node.js best practices list (June 2021),30,TypeScript

# 6

In [67]:
driver=webdriver.Chrome("chromedriver.exe")

In [68]:
url="https://www.billboard.com/"
driver.get(url)

In [69]:
search_btn=driver.find_element_by_xpath("/html/body/div[2]/div[2]/header/button/span")
search_btn.click()
time.sleep(3)

In [70]:
search_chart=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/ul/li[1]/a")
search_chart.click()
time.sleep(3)

In [72]:
search_hot_100=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/ul/li[1]/span/span/span/span[1]/ul/li[1]/a")
search_hot_100.click()
time.sleep(3)

In [73]:
Song_name=[]
Artist_name=[]    
Last_week_rank=[]
Peak_Rank=[]
Weeks_on_board=[]

In [74]:
for i in driver.find_elements_by_xpath("//span[@class= 'chart-element__information__song text--truncate color--primary']"):
    Song_name.append(i.text)
Song_name[:10]

['Butter',
 'Good 4 U',
 'Levitating',
 'Leave The Door Open',
 'Save Your Tears',
 'Peaches',
 'Kiss Me More',
 'Deja Vu',
 'Astronaut In The Ocean',
 'Montero (Call Me By Your Name)']

In [75]:
for i in driver.find_elements_by_xpath("//span[@class= 'chart-element__information__artist text--truncate color--secondary']"):
    Artist_name.append(i.text)
Artist_name[:10]

['BTS',
 'Olivia Rodrigo',
 'Dua Lipa Featuring DaBaby',
 'Silk Sonic (Bruno Mars & Anderson .Paak)',
 'The Weeknd & Ariana Grande',
 'Justin Bieber Featuring Daniel Caesar & Giveon',
 'Doja Cat Featuring SZA',
 'Olivia Rodrigo',
 'Masked Wolf',
 'Lil Nas X']

In [76]:
for i in driver.find_elements_by_xpath("//div[@class= 'chart-element__meta text--center color--secondary text--last']"):
    Last_week_rank.append(i.text)
Last_week_rank[:10]

['1', '2', '4', '5', '7', '6', '8', '3', '10', '13']

In [77]:
for i in driver.find_elements_by_xpath("//div[@class= 'chart-element__meta text--center color--secondary text--peak']"):
    Peak_Rank.append(i.text)
Peak_Rank[:10]

['1', '1', '2', '1', '1', '1', '5', '3', '6', '1']

In [78]:
for i in driver.find_elements_by_xpath("//div[@class= 'chart-element__meta text--center color--secondary text--week']"):
    Weeks_on_board.append(i.text)
Weeks_on_board[:10]

['2', '3', '35', '13', '25', '11', '8', '9', '16', '10']

In [79]:
print(len(Song_name),len(Artist_name),len(Last_week_rank),len(Peak_Rank),len(Weeks_on_board))

100 100 100 100 100

In [80]:
HOT_100=pd.DataFrame({})
HOT_100["Song_name"]=Song_name
HOT_100["Artist_name"]=Artist_name
HOT_100["Last_week_rank"]=Last_week_rank
HOT_100["Peak_Rank"]=Peak_Rank
HOT_100["Weeks_on_board"]=Weeks_on_board
HOT_100

,Song_name,Artist_name,Last_week_rank,Peak_Rank,Weeks_on_board
0,Butter,BTS,1,1,2
1,Good 4 U,Olivia Rodrigo,2,1,3
2,Levitating,Dua Lipa Featuring DaBaby,4,2,35
3,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),5,1,13
4,Save Your Tears,The Weeknd & Ariana Grande,7,1,25
...,...,...,...,...,...
95,All I Know So Far,P!nk,87,74,3
96,Hold On,Justin Bieber,86,20,13
97,Wasted On You,Morgan Wallen,98,9,19
98,Outside,MO3 X OG Bobby Billions,-,99,1
99,Botella Tras Botella,Gera MX + Christian Nodal,-,60,4

# 7

In [81]:
driver=webdriver.Chrome("chromedriver.exe")

In [82]:
url="https://www.naukri.com/"
driver.get(url)

In [83]:
search_bar=driver.find_element_by_id("qsb-keyword-sugg")
search_bar.click()
time.sleep(2)
search_bar.send_keys("Data Science")

In [84]:
search_btn=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section/div/form/div[3]/button")
search_btn.click()

In [104]:
Designation=[]
Company=[]
Skills_they_hire_for=[]

In [105]:
for i in driver.find_elements_by_xpath("//a[@class= 'title fw500 ellipsis']"):
    Designation.append(i.text)
Designation[:10]

['Senior Data Science Engineer',
 'Senior Data Science Engineer',
 'Data Science- Associate Data Scientist',
 'Senior Software Developer - NLP/ Machine Learning/ Data Science',
 'Senior Software Developer - Nlp/machine Learning/data Science',
 'Web Development/Data Science Trainee',
 'Data Science Intern (remote)',
 'Machine Learning & Automation Expert - Data Science',
 'Data Science Engineer',
 'Data Science Engineer']

In [106]:
for i in driver.find_elements_by_xpath("//a[@class= 'subTitle ellipsis fleft']"):
    Company.append(i.text)
Company[:10]

['Siemens Limited',
 'NetApp',
 'Jet2 Travel Technologies Pvt. Ltd.',
 'Cunesoft',
 'Cunesoft',
 'Musubi Management Private Limited',
 'Amploy.io',
 'GENPACT India Private Limited',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited']

In [107]:
for i in driver.find_elements_by_xpath("//div[@class= 'job-description fs12 grey-text']"):
    Skills_they_hire_for.append(i.text)
Skills_they_hire_for[:10]

['Responsible for the development and delivery of parts of a product, in accordance to th...',
 'Bachelors degree in Data Science, Statistics, Computer Science, or similarKey Qualifica...',
 'Roles and Responsibilities We, at Jet2 (UK’s third largest airlines and the second larg...',
 '- The individual should be self-motivated, creative and proactive, to work successfully...',
 '- The individual should be self-motivated, creative and proactive, to work successfully...',
 'Adaptable to night shift 9 pm to 6:00 am(and / Rotational shift / and any other shift)F...',
 "Amploy's mission is to make hiring more objective, diverse, and fair. To do so, we deve...",
 'Genpact inviting applications for the role of a Machine Learning & Automation Expert - ...',
 'Experience in creating and using advanced machine learning algorithms and statistics su...',
 'Experience in creating and using advanced machine learning algorithms and statistics su...']

In [110]:
print(len(Designation),len(Company),len(Skills_they_hire_for))

20 20 20

In [112]:
Naukri=pd.DataFrame({})
Naukri["Designation"]=Designation
Naukri["Company"]=Company
Naukri["Skills_they_hire_for"]=Skills_they_hire_for
Naukri

,Designation,Company,Skills_they_hire_for
0,Senior Data Science Engineer,Siemens Limited,Responsible for the development and delivery o...
1,Senior Data Science Engineer,NetApp,"Bachelors degree in Data Science, Statistics, ..."
2,Data Science- Associate Data Scientist,Jet2 Travel Technologies Pvt. Ltd.,"Roles and Responsibilities We, at Jet2 (UK’s t..."
3,Senior Software Developer - NLP/ Machine Learn...,Cunesoft,"- The individual should be self-motivated, cre..."
4,Senior Software Developer - Nlp/machine Learni...,Cunesoft,"- The individual should be self-motivated, cre..."
5,Web Development/Data Science Trainee,Musubi Management Private Limited,Adaptable to night shift 9 pm to 6:00 am(and /...
6,Data Science Intern (remote),Amploy.io,Amploy's mission is to make hiring more object...
7,Machine Learning & Automation Expert - Data Sc...,GENPACT India Private Limited,Genpact inviting applications for the role of ...
8,Data Science Engineer,IBM India Pvt. Limited,Experience in creating and using advanced mach...
9,Data Science Engineer,IBM India Pvt. Limited,Experience in creating and using advanced mach...
10,Software Developer - NLP/ Data Science/ Machin...,Cunesoft,"The individual should be self-motivated, creat..."
11,Software Developer - NLP /machine Learning/ Da...,Cunesoft,"The individual should be self-motivated, creat..."
12,Software Developer - NLP/ Machine Learning/ Da...,Cunesoft,"The individual should be self-motivated, creat..."
13,Data Science Engineer - R/Python,Techstar Software Development India Pvt. Ltd.,Who can join Immediate - 20 days is only prefe...
14,Python Tech Lead - RDBMS / Data Science,OceanOfWeb,Experience in leading and mentoring technical ...
15,Data Science Lead,YMetis India Pvt,Required Experience : - 6+ years of profession...
16,Sr Analyst Data Science Analytics,Empower Retirement,Graduate / Post-graduate degree in Business Ma...
17,Manager Data Science,KeepTruckin,Bachelors degree or higher in a quantitative f...
18,Data Science Trainer,Sankhyana Consultancy Services,Engineering degree or postgraduate degree or P...
19,Machine Learning/Data Science Engineer,4ONLINEMEDIA,Strong knowledge of Python. Understand multipl...

# 8

In [113]:
driver=webdriver.Chrome("chromedriver.exe")

In [114]:
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)

In [115]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [116]:
#scraping book name
book = driver.find_elements_by_xpath("//tbody/tr/td[2]")
for i in book:
    Book_name.append(i.text)#appending book name
#scraping author name
author = driver.find_elements_by_xpath("//tbody/tr/td[3]")
for i in author:
    Author_name.append(i.text)#appending author name

#scraping volumes sold
volume = driver.find_elements_by_xpath("//tbody/tr/td[4]")
for i in volume:
    Volumes_sold.append(i.text)#appending volumes of books sold

#scraping publisher 
publish = driver.find_elements_by_xpath("//tbody/tr/td[5]")
for i in publish:
    Publisher.append(i.text)#appending publisher name

#scraping genre
genre = driver.find_elements_by_xpath("//tbody/tr/td[6]")
for i in genre:
    Genre.append(i.text)#appending genre

In [117]:
#checking the length of each list
print(len(Book_name))
print(len(Author_name))
print(len(Volumes_sold))
print(len(Publisher))
print(len(Genre))

100
100
100
100
100

In [118]:
#creating a dataframe
Novels=pd.DataFrame({'Book Name':Book_name,'AUthor Name':Author_name,'Volumes Sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre})
Novels

,Book Name,AUthor Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9

In [119]:
driver=webdriver.Chrome("chromedriver.exe")

In [120]:
url="https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [121]:
Name=[]
Year_Span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

In [122]:
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    Name.append(i.text)
Name[:10]

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100',
 'Orange Is the New Black',
 'Riverdale',
 "Grey's Anatomy",
 'The Flash',
 'Arrow']

In [123]:
for i in driver.find_elements_by_xpath("//span[@class= 'lister-item-year text-muted unbold']"):
    Year_Span.append(i.text)
Year_Span[:10]

['(2011–2019)',
 '(2016– )',
 '(2010–2022)',
 '(2017–2020)',
 '(2014–2020)',
 '(2013–2019)',
 '(2017– )',
 '(2005– )',
 '(2014– )',
 '(2012–2020)']

In [124]:
for i in driver.find_elements_by_xpath("//span[@class= 'genre']"):
    Genre.append(i.text)
Genre[:10]

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Crime, Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime']

In [125]:
for i in driver.find_elements_by_xpath("//span[@class= 'runtime']"):
    Run_time.append(i.text)
Run_time[:10]

['57 min',
 '51 min',
 '44 min',
 '60 min',
 '43 min',
 '59 min',
 '45 min',
 '41 min',
 '43 min',
 '42 min']

In [126]:
for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div/span[2]"):
    Ratings.append(i.text)
Ratings[:10]

['9.3', '8.7', '8.2', '7.6', '7.6', '8', '6.8', '7.5', '7.7', '7.5']

In [127]:
for i in driver.find_elements_by_xpath("//span[@name= 'nv']"):
    Votes.append(i.text)
Votes[:10]

['1,821,471',
 '862,613',
 '873,930',
 '262,489',
 '223,790',
 '282,541',
 '124,902',
 '260,799',
 '314,132',
 '412,205']

In [128]:
#checking the length of each list
print(len(Name))
print(len(Year_Span))
print(len(Genre))
print(len(Run_time))
print(len(Ratings))
print(len(Votes))

100
100
100
100
100
100

In [129]:
IMDB=pd.DataFrame({'Name':Name,'Year':Year_Span,'Genre':Genre,'Run Time':Run_time,'Ratings':Ratings,'Votes':Votes})
IMDB

,Name,Year,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,821,471"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"862,613"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"873,930"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,489"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"223,790"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,545"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,030"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,433"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,858"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,157"

# 10

In [145]:
driver=webdriver.Chrome("chromedriver.exe")

In [146]:
url="https://archive.ics.uci.edu/"
driver.get(url)

In [147]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [148]:
insert1 = driver.find_element_by_xpath("//b/a[@href='datasets.php']")
insert1.click()

In [152]:
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//p[@class='normal']/b/a")]
for url in urls[:20]:
    time.sleep(5)
    try:         #exception handling for nosuchelementexception
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//span[@class='heading']/b").text
        des=raw_description.replace("Data Set","")
        Dataset_name.append(des)   #appending dataset name in dataset name list
    except NoSuchElementException :
        Dataset_name.append(" ") #appending the no dataset name if no name is given
        
    try:    #exception handling for nosuchelementexception
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//tbody/tr[1]/td[2]/p[@class='normal']").text      
        Data_type.append(raw_description)#appending datatype in datatype list
    except NoSuchElementException :
        Data_type.append(" ")#appending no dataset type if no type is provided

    try:    #exception handling for nosuchelementexception
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//tbody/tr[3]/td[2]/p[@class='normal']").text      
        Task.append(raw_description)#appending task in task list
    except NoSuchElementException :
        Task.append(" ")#appending no task if no task is given

    try:   #exception handling for nosucheleme
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//tbody/tr[2]/td[2]/p[@class='normal']").text      
        Attribute_type.append(raw_description)#appending attribute type in attribute type list
    except NoSuchElementException :
        Attribute_type.append(" ")#appending no attribute type if no type is given
    try:   #exception handling for nosuchelementexception
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//tbody/tr[1]/td[4]/p[@class='normal']").text      
        No_of_instances.append(raw_description)#appending no of instances
    except NoSuchElementException :
        No_of_instances.append(" ")#appending no No of instanced is no instances is given

    try:   #exception handling for nosuchelementexception
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//tbody/tr[2]/td[4]/p[@class='normal']").text      
        No_of_attribute.append(raw_description)#appending  no of attribute
    except NoSuchElementException :
        No_of_attribute.append(" ")#appending no No of attribute if data is not give

    try:   #exception handling for nosuchelementexception
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//tbody/tr[2]/td[6]/p[@class='normal']").text 
        des=raw_description[0:4]
        Year.append(raw_description)#appending year
    except NoSuchElementException :
        Year.append(" ")#appending no year if no year is given

In [153]:
ML=pd.DataFrame({"Dataset Name":Dataset_name,"Data Type":Data_type,"Task":Task,"Attribute Type":Attribute_type,"No of instances":No_of_instances,
                "No of attribute":No_of_attribute , "Year" : Year})
ML

,Dataset Name,Data Type,Task,Attribute Type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995-12-01
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996-05-01
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,N/A
3,Anonymous Microsoft Web Data,N/A,Recommender-Systems,Categorical,37711,294,1998-11-01
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998-01-01
5,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992-07-01
6,Audiology (Original),Multivariate,Classification,Categorical,226,N/A,1987-12-03
7,Audiology (Standardized),Multivariate,Classification,Categorical,226,69,1992-08-18
8,Auto MPG,Multivariate,Regression,"Categorical, Real",398,8,1993-07-07
9,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205,26,1987-05-19
10,Badges,"Univariate, Text",Classification,N/A,294,1,1994-09-01
11,Balance Scale,Multivariate,Classification,Categorical,625,4,1994-04-22
12,Balloons,Multivariate,Classification,Categorical,16,4,N/A
13,Breast Cancer,Multivariate,Classification,Categorical,286,9,1988-07-11
14,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699,10,1992-07-15
15,Breast Cancer Wisconsin (Prognostic),Multivariate,"Classification, Regression",Real,198,34,1995-12-01
16,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,32,1995-11-01
17,Pittsburgh Bridges,Multivariate,Classification,"Categorical, Integer",108,13,1990-08-01
18,Car Evaluation,Multivariate,Classification,Categorical,1728,6,1997-06-01
19,Census Income,Multivariate,Classification,"Categorical, Integer",48842,14,1996-05-01
20,Chess (King-Rook vs. King-Knight),"Multivariate, Data-Generator",Classification,"Categorical, Integer",N/A,22,1988-10-03
21,Chess (King-Rook vs. King-Pawn),Multivariate,Classification,Categorical,3196,36,1989-08-01
22,Chess (King-Rook vs. King),Multivariate,Classification,"Categorical, Integer",28056,6,1994-06-01
23,Chess (Domain Theories),Domain-Theory,N/A,N/A,N/A,N/A,N/A
24,Bach Chorales,"Univariate, Time-Series",N/A,"Categorical, Integer",100,6,N/A
25,Connect-4,"Multivariate, Spatial",Classification,Categorical,67557,42,1995-02-04
26,Credit Approval,Multivariate,Classification,"Categorical, Integer, Real",690,15,N/A
27,Japanese Credit Screening,"Multivariate, Domain-Theory",Classification,"Categorical, Real, Integer",125,N/A,1992-03-19
28,Computer Hardware,Multivariate,Regression,Integer,209,9,1987-10-01
29,Contraceptive Method Choice,Multivariate,Classification,"Categorical, Integer",1473,9,1997-07-07
30,Covertype,Multivariate,Classification,"Categorical, Integer",581012,54,1998-08-01